<p style="color: green"><%= notice %></p>

<%= render @type_state %>

<div>
  <%= link_to "Edit this type state", edit_type_state_path(@type_state) %> |
  <%= link_to "Back to type states", type_states_path %>

  <%= button_to "Destroy this type state", @type_state, method: :delete %>
</div>
