<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row my-4 py-4 mb-1 pb-1">
    <div class="col-sm-12 d-flex justify-content-center mb-0">
      <h1 class="text-center display-2"><p class="fw-bold">Invitación</h1></p>
    </div>
  </div>

  <div class="row mt-1 pt-1 my-3 py-4 justify-content-center">
    <div class="col-sm-12 d-flex justify-content-center">
      <div class="card w-75">
        <div class="card-header">
          Descripción de la invitación
        </div>
        <div class="card-body">
        <div class="card-body text-dark">
          <div class="d-flex mb-2">
            <p class="card-text fw-bold mx-3">
            Evento: 
          </p><%= @user_event.event.name%>
            </div>

            <div class="d-flex mb-2">
            <p class="card-text fw-bold mx-3">
            Fecha: 
          </p><%= @user_event.event.date%>
            </div>

            <div class="d-flex">
            <p class="card-text fw-bold mx-3">
            Invitado: 
          </p><%= @user_event.user.email%>
            </div>

          <div class="d-flex justify-content-center mt-3">
            <% if @user_event.state == "No responde" %>
            <%= button_to 'Asistiré', {:action => "change_state", :id => @user_event.id}, :params => {:new_state => "Asiste"}, :method => :post, class:"btn btn-success my-2 mx-3 p-3" %>
            <%= button_to 'No Asistiré', {:action => "change_state", :id => @user_event.id}, :params => {:new_state => "No asiste"}, :method => :post, class:"btn btn-danger my-2 mx-3 p-3" %>
            <%else%>
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    <%= @user_event.state%>
                  </p>
                </div>
              </div>
            <%end%>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 pt-3 mb-4">
    <div class="col-sm-12 d-flex justify-content-center">
      <%= link_to "Volver", user_events_path %>
    </div>
  </div>

    

</div>




